@font-face {
    font-family: poppins;
    src: url("../fonts/Poppins-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    width: 100%;
    height: 100vh;
    background: #EF838B;
    display: flex;
    flex-direction: column;
}

.main{
    margin: auto;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

img{
    width: 250px;
}

.flip-box {
    margin: auto;
    background-color: transparent;
    width: 300px;
    height: 360px;
    perspective: 1000px;
    animation: box 1s linear;
  }

@keyframes box {
  0%{
    filter: opacity(0);
    transform: translateY(-30px);
  }

  100%{
    filter: opacity(1);
    transform: translateY(0);
  }
}
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .flip-box-front {
    background-color: #F5F5F5;
    color: black;
  }
  
  .flip-box-back {
    background-color: #F5F5F5;
    color: black;
    transform: rotateY(180deg);
    padding: 30px 20px ;
  }


@media only screen and (min-width:720px) and (max-width:960px){
    .main{
        margin: auto;
        width: 100%;
        height: 80vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        grid-gap: 30px;
    }
    
}
@media only screen and (max-width:720px){
    .main{
        margin: auto;
        width: 100%;
        height: 80vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        grid-gap: 30px;
    }
    
}