@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

$nav-color: #000;
$box-bgcolor: #fff;
$box-bscolor: rgba(0, 0, 0, 0.164);
$star-color: #FB8200;
$text-color: #787885;
$button-color: #E02C6D;


@mixin flex($jc, $ai: center){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin media($w){
    @media (max-width: $w) {
        @content;
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Poppins;
}

// ================ Header Section ====================

.header{
    max-width: 1077px;
    margin: 80px auto 50px;
    padding: 0 18px;
    @include flex(space-between);
    >i{
        display: none;
    }
    >h2{
        font: normal 700 24px / 36px Poppins;
    }
    >nav{
        >ul{
            display: flex;
            >li{
                margin: 0px 16px;
                
                >a{
                    font: normal 600 16px Poppins;
                    color: $nav-color;
                    transition: 0.3s;
                    &:hover{
                        color: $button-color;
                        
                    }
                }
            }
        }
    }
    @include media(1076px){
        margin-top: 35px;
        max-width: 1010px;
        >i{
            display: block;
            font-size: 22px;
        }
        >nav{
            >ul{
                >.jani-na{
                    display: none;
                }
                li{
                    padding: 0;
                    margin: 0;
                    
                }
            }
        }
    }
    @include media(670px){
        margin-bottom: 20px;
        >h2{
            font-size: 20px;
        }
    }
}

// =============== Banner Section ===============

.banner{
    @include flex(space-between);
    max-width: 1077px;
    padding: 0 18px;
    margin: auto;
    >div{
        &:first-child{
            >h2{
                font: normal 700 52px / 70px Poppins;
                margin-bottom: 16px;
            }
            >p{
                font: normal 600 16px / 24px Poppins;
                margin-bottom: 16px;
                color: $text-color;
            }
            >button{
                border: none;
                padding: 10px 24px;
                color: #fff;
                border-radius: 41px;
                background: $button-color;
                transition: 0.3s ease-in;
                font-weight: 700;
                border: 2px solid $button-color;
                &:hover{
                    color: $button-color;
                    background: #fff;
                    >i{
                        color: $button-color;
                    }
                }
                >i{
                    padding-left: 12px;
                    transition: 0.2s;
                }
            } 
        }   
    }
    @include media(1076px){
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        flex-direction:column-reverse;
        >div{
            &:first-child{
                text-align: center;
                >h2{
                    font-size: 40px;
                    line-height: 42px;
                    margin-bottom: 26px;
                }
                >p{
                    font-size: 18px;
                    margin-bottom: 40px;
                }
            }

            &:last-child{
                >img{
                    height: 340px;
                    margin-bottom: 14px;
                }
            }
        }
    }
    @include media(670px){
        >div{
            &:first-child{
                >h2{
                    font-size: 28px;
                    line-height: 38px; 
                }
                >p{
                    font-size: 14px;
                }
            }

            &:last-child{
                >img{
                    height: 270px;
                }
            }
        }
    }
}

// =============== Sponser Section ===============

.spon{
    margin: 50px auto;
    border: 2px solid linear-gradient(90deg, rgb(0, 119, 255) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgb(255, 0, 0) 100%) 1;
    border-inline: none;
    max-width: 1077px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100% ;
    justify-content: center;
    align-items: center;
    padding: 0 18px;
    >img{
        height: 28px;  
        margin: 20px 15px;  
        }
    @include media(1074px){
        border: none;
        >img{
                height: 22px;
                margin: 10px 15px;  
            }
        }

    @include media(670px){
        >img{
            height: 18px;
        }
    }
}

// =============== Box-Area Section ===============

.box-area{
    > h2{
        font: normal 600 28px / 70px Poppins;
        text-align: center;
        margin-bottom: 30px;
        color: #3A3A3A;
    }
    .box-container{
        max-width: 1077px;
        margin: 0 auto;
        @include flex(center);
        flex: 1 1 100%;
        flex-wrap: wrap;
    
        > .box{
            height: 476px;
            width: 329px;
            border-radius: 5px;
            background: $box-bgcolor;
            margin: 15px;
            box-shadow: 0 0 40px $box-bscolor, 0 0 10px $box-bscolor;
    
            >img{
                margin: 15px;
            }
    
            >.info{
                padding-inline: 14px;
    
                >h2{
                    font: normal 500 28px / 40px Poppins;
                    text-align: left;
                    margin-bottom: 6px;
                }
    
                >h3{
                    font: normal 400 24px / 36px Inter;
                    text-align: left;
                    margin-bottom: 11px;
                }
                >.rate{
                    display: flex;
                    align-items: center;
                    margin-bottom: 6px;
                    >i{
                        color: $star-color;
                        font-size: 11px;
                        margin-top: -5px;
                    }
                    >p{
                        padding-left: 10px;
                        font: normal 700 14px / 22px Roboto;
                        letter-spacing: 0.10000000149011612px;
                        text-align: left;
                        color: $text-color;
                    }
                }
                >p{
                    width: 70%;
                    font: normal 400 14px / 20px Inter;
                    letter-spacing: 0.018em;
                    text-align: left;
                }
            }
        }
    }
    @include media(1074px){
        >h2{
            margin-bottom: 0px;
        }
    }
    @include media(620px){
        >h2{
            font-size: 20px;
            font-weight: 600;
        }
    }
}

// =============== Feature Section ===============

.feature{
    margin-top: 100px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: 90px;
    max-width: 1040px;
    padding-inline: 15px;
    >img{
        width: 404px;
    }
    >div{
        >h2{
            font-weight:700;
            font-size: 36px;
            margin-bottom: 16px;
        }
        >p{
            font-weight:700;
            color: #6C6C6C;
            margin-bottom: 16px;
        }
        >button{
            background: #E02C6D;
            padding: 10px 24px;
            color: #fff;
            border: none;
            cursor: pointer;
            >i{
                padding-left: 16px;
            }
        }
    }

    @include media(1076px){
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        >img{
            margin: auto;
            width: 340px;
        }
    }
    @include media(620px){
        >div{
            >h2{
                font-size: 24px;
                line-height: 36px;
            }
            >p{
                font-size: 16px;
                line-height: 28px;
                margin-bottom:28px;
            }
        }  
    }
}

// =============== Footer Section ===============

.footer{
    margin-top: 100px;
    background: #0A0826;
    color: #fff;
    width: 100%;
    >div{
        margin: auto;
        text-align: center;
        padding: 50px 0;
        >h3{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 3px;
        }
        >p{
            font-size: 14px;
            margin-bottom: 3px;
        }
        >p:last-child{

        }
        >.social{
            display: flex;
            justify-content: center;
            align-items: center;
            >div{
                margin: 24px 5px 0;
                background: rgba(34, 33, 60, 0.5);
                width: 30px;
                aspect-ratio: 1;
                border-radius: 50%;
                display: flex;
                cursor: pointer;
                >i{
                    margin: auto;
                }
            }
        }
    }
}