.elearning{
    margin-bottom: 2rem;
    @media (min-width:768px){
        padding-top: 1em;
    }
    @media (min-width:992px){
        padding-top: 3em;
    }
    
    .card{
        background: #F4FAFD;
        @media (min-width:768px){
            flex-direction: row;
            
        }
        @media (min-width:992px){
            align-items: center;
            img{
                height: 630px;
            }
            
            .amo{
                display: flex;
                justify-content: space-between;
                >div{
                    >h3{
                        font-size: 2.1rem;
                    }
                }
            }
        }
        .card-title{
            font-size: 1.25rem;
            line-height: 1.88rem;
            font-weight: 600;
            @media (min-width:768px){
                font-size: 1.875rem;
                line-height: 2.813rem;
            }
            @media (min-width:992px){
                font-size: 2.1rem;
            }
        }
        .card-body{
            padding-inline: 1.25rem 1.96rem;
            @media (min-width:992px){
                padding-inline: 3em;
            }

            h3{
                font-size: 1.56rem;
                font-weight: 600;
                @media (min-width:768px){
                    font-size: 1.563rem;
                }
                @media (min-width:992px){
                    font-size: 2.1rem;
                }
            }

            p{
                color: #777777;
                font-size: 0.88rem;
                line-height: 1.31rem;
                @media (min-width:768px){
                    font-size: 1rem;
                    line-height: 1.625rem;
                }
                @media (min-width:992px){
                    font-size: 0.9rem;
                    line-height: 1.625rem;
                }
            }
            span{
                font-weight: 600;
                color: #289BDE;
            }

            #amo-cap{
                @media (min-width:992px){
                    font-size: 1rem;
                    font-weight: 500;
                }
            }

            // .button{
            //     background: #289BDE;
            //     font-size: 1.13rem;
            //     padding: 0.44rem 1.13rem;
            //     font-weight: 600;
            //     @media (min-width:768px){
            //         padding: 0.688rem 1.125rem;
            //     }
            // }

            .button{
                padding: 0.44rem 1.13rem;
                background: #289BDE;
                font-weight: 500;
                border: 1px solid #289BDE;
                margin-block: 1rem 3rem;
                @media (min-width:768px){
                    font-size: 1.13rem;
                    padding: 0.69rem 1.13rem;
                }
                @media (min-width:992px){
                    font-size: 1rem;
                    padding: 0.61rem 1.86rem;
                }
            }
            
        }
    }
}