.sponser{
    margin-top: 2rem;
        text-align: center;
        padding-inline: 35px ;
        h5{
            font-size: 1.25rem;
            line-height: 1.88rem;
            font-weight: 600;
            @media (min-width:768px){
                font-size: 1.875rem;
                line-height: 2.813rem;
            }
            @media (min-width: 992px){
                margin-top: 6rem;
                font-size: 2.1rem;
                margin-bottom: 2rem;
            }
        }
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1000px;
            margin-inline: auto;
            #l-s{
                height: 20px;
                width: auto;
            }
            img{
                height: 25px;
                width: auto;
            }
        }
}