@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');
*{
    font-style: poppins;
   
}
.containerclass{
    padding:0 50px !important;
}
.unordered{
    li{
        padding-right:23px ;
        a{
            letter-spacing: .5px;
            font-size: 18px;
        }
    }
}
.brand{
    font-size: 30px !important;
    font-weight: 700;
}
.carousel-inner{
    max-height: 560px !important;
    margin-top: 20px;
    background: rgba(29, 29, 29, 0.7);
}
.carousel-item{
    max-height: 100%;
    img{
        max-height: 100%;
    }
}

.blackcolor{
    height: 100% !important;
    position: absolute;
    background-color: rgb(0, 0, 0,.3);
    width: 100% !important;
    z-index: 1;
}

.get{
    font-weight: 600;
    font-size: 53px;
    line-height: 65px;
}
.itp{
    font-weight: 400;
font-size: 18px;
line-height: 30px;
}
.getcontent{
    padding:0 180px;
    
}
button{
    cursor: pointer;
}

.discoverCourse{
    padding-left: 15px;

    img{
        max-width: 100%;
        max-height: 100%;
    }
}
.one{
    margin-left: -12px;
    a{
        font-weight: 600;
        text-decoration: none;
        font-size: 18px;
        color: #289BDE;

    }
}






// .....................Starting point of Explore Section...................... 
.exploreheight {
    background-color: #F4FAFD !important;

    img{
       width: 100%;
        max-height: 640px;
    }
    .boldkorbo{
        font-weight: 700;
    }

}

  
// ........................ready section ................


   .ready{
    background-color: #289BDE;;
   }

   .mybtn{
     background-color: white !important;
     color: blue !important;
     font-weight: 600 !important;
     font-size: 17px !important;
   }


//  ..........................start successful man.............

 .dorlam{
    .okvai{
        cursor: pointer;
        a{
            text-decoration: none;
            color: #4A4A4A;
        }
    }
 }






// ............................... ending successful man..................

// .................some .................
   .iconbosabo1{
    width: 40px;
    height: 40px;
    background-color:#E5F6FF;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20px;
    margin-top:95px;
   }
   .iconbosabo2{
    width: 40px;
    margin-top: 95px;
    height: 40px;
    background-color:#E5F6FF;
    border-radius: 50%;
    position: absolute;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
  .na{
    border: 1px solid #E8E8E8;
    border-radius: 5px;
  }
  .nani{
     width: 48% !important;
     margin-right: 20px;

  }
  .nana{
    width: 49.3% !important;
  }

   @media only screen and (max-width:992px){
     .iconbosabo1{
        display: none;
     }
     .iconbosabo2{
        display: none;
     }
   }

//   ......frequently.........

.accordion-button:not(.collapsed){
    color: black !important;
    font-weight: 600 !important;
    background-color: #E9F5FC !important;
    box-shadow:2px 2px 2px red !important;
}
.bolsi{
    padding-left: 180px;
    padding-right: 180px;
}


// ........................company.................... 

.dui{
    width: 150px;
    margin-top: -20px;
}


// ..................company.................. 


// ................footer..................... 


 footer{
    background-color: #161616;
    padding-top: 50px;
    padding-bottom: 40px;
    margin-top:40px;

    ul {list-style: none;
        li{ width: 30px;
            list-style-type: none;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #242424;
            border-radius: 50%;
            margin-right: 20px;
            a{
                i{
                    color: white;
                }
            }
        }
    }
 }


// ............ending of footer section.................. 

 
@media only screen and (max-width:992px){
    .thakbena{
        display: none;
    }
}
@media only screen and (min-width:993px) and (max-width:1200px){
    .thakbena{
         
        img{
            width: 130px;
        }
    }
}



// ......................ending company.................. 
@media only screen and (max-width:992px){
    .bolsi{
        padding-left: 20px;
        padding-right: 20px;
    }
}
// ....................some media................... 

@media only screen and (max-width:881px){
   .nani{
    width: 100% !important;
    margin-bottom: 20px;
   }
   .nana{
    width: 100% !important;
   }
   .dur{
      padding: 32px;
   }
}
@media only screen and (min-width:882px) and (max-width:992px){
    
    .dur{
       padding: 33px;
    }
 }


// ............................... ready.................. 

@media only screen and (max-width:992px){
    .readypadd{
        padding-left: 28px ;
        padding-right: 28px;
    }
}     


// .............................successful man ..........................  

@media only screen and (max-width:992px){
    .kisukibolbo{
        padding-left: 20px ;
        padding-right: 20px;
    }
    .okvai{
        margin-bottom: 20px;
    }
    .ji{
        margin-top: -6px !important;
    }
}    










// ........................end successful man................... 


@media only screen and (min-width:950px) and (max-width:1070px){
    .discoverCourse{

        img{
        
            height: 190px !important;
            margin-top:20px ;
        }
    }
}
@media only screen and (min-width:768px) and (max-width:949px){
    .discoverCourse{

        img{
            width: 200px;
            height: 190px !important;
            margin-top:20px ;
        }
    }
}


@media only screen and (max-width:950px){
    .getcontent{
         padding: 0 100px;
        h1{
            font-size: 30px;
            line-height: 40px;
        }
        p{
            font-size: 14px;
            line-height: 20px;
        }
        button{
            height: 30px;
            padding: 0 20px;
            
        }
    }
}

@media only screen and (max-width:750px){
    .containerclass{
        padding: 0 20px !important;
    }
    .carousel-inner{
        height:330px;
        .carousel-item{
            height: 100%;
            img{
                height: 100%;
            }
        }
    }
    .getcontent{
        padding: 0 120px;
        margin-top: -40px;
        h1{
            font-size: 20px;
            line-height: 26px;
        }
        p{
            font-size: 12px;
            line-height: 15px;
        }
        button{
            height: 24px;
            padding: 0 15px;
            font-size: 12px;
        }
    }
    
}
@media only screen and (min-width:600px) and (max-width:750px){
    .containerclass{
        padding: 0 20px !important;
    }
    .carousel-inner{
        height:330px;
        .carousel-item{
            height: 100%;
            img{
                height: 100%;
            }
        }
    }
    .getcontent{
        padding: 0 120px;
        margin-top: -40px;
        h1{
            font-size: 20px;
            line-height: 26px;
        }
        p{
            font-size: 12px;
            line-height: 15px;
        }
        button{
            height: 24px;
            padding: 0 15px;
            font-size: 12px;
        }
    }
    
}




@media only screen and (max-width:500px){
    .getcontent{
        padding: 0 20px;
    }
    .nai{
        display: none !important;
    }
    .containerclass{
        padding: 0 10px !important;
    }
    .carousel-control-prev{
        display: none !important;
    }
    .carousel-control-next{
        display: none !important;
    }
}
@media only screen and (max-width:575px){
    .ex{
        padding: 0 10px;
    }
    .excontentdiv{
        width: 100% !important;
        padding: 8px;
    }
    .haha{
        
    }
}
@media only screen and (max-width:992px){
    .ex{
        padding: 0 27px;
    }
    .excontentdiv{
        width: 100% !important;
        padding: 8px;
    }
    .haha{
        
    }
}

@media only screen and (max-width:336px){
    .discoverCourse{

        img{
            width: 127px !important;
            height: 160px !important;
            position: absolute;
            margin-left: 15px;
            margin-top: 10px;
        }
    }
    .one{
        margin-left: 52px;
        margin-top: -20px;
        h5{
            font-size: 18px;
        }
        p{
            font-size: 13px;
        }
        a{
            font-size: 14px;
            margin-top: -40px !important;
        }
    }
}

@media only screen and (min-width:337px) and (max-width:400px){
    .discoverCourse{

        img{
            width: 155px !important;
            height: 160px !important;
            position: absolute;
            margin-left: 17px;
            margin-top: 10px;
        }
    }
    .one{
        margin-left: 62px;
        margin-top: -20px;
        h5{
            font-size: 18px;
        }
        p{
            font-size: 13px;
        }
        a{
            font-size: 14px;
            margin-top: -40px !important;
        }
    }
}

@media only screen and (min-width:401px) and (max-width:492px){
    .discoverCourse{

        img{
            width: 165px !important;
            height: 160px !important;
            position: absolute;
            margin-left: 17px;
            margin-top: 3px;
        }
    }
    .one{
        margin-left: 52px;
        margin-top: -20px;
        h5{
            font-size: 18px;
        }
        p{
            font-size: 13px;
        }
        a{
            font-size: 14px;
            margin-top: -40px !important;
        }
    }
}
@media only screen and (min-width:493px) and (max-width:600px){
    .discoverCourse{
        .vairevai{
            margin-bottom: 20px;
        }
        img{
            width: 175px !important;
            height: 130px !important;
            position: absolute;
            margin-left: 12px;
            margin-top: -5px;
        }
    }
    .one{
        margin-left: 42px;
        margin-top: -20px;
        h5{
            font-size: 18px;
        }
        p{
            font-size: 13px;
        }
        a{
            font-size: 14px;
            margin-top: -40px !important;
        }
    }
}
@media only screen and (min-width:601px) and (max-width:675px){
    .discoverCourse{
       .vairevai{
        margin-top: -20px !important;
       }
        img{
            margin-left: 14px;
            width: 210px !important;
            height: 150px;
            margin-top: 15px;
            position: absolute;
        }

        .one{
            margin-left: 40px;
        }
    }
}
@media only screen and (min-width:676px) and (max-width:767px){
    .discoverCourse{
       .vairevai{
        margin-top: -20px !important;
       }
        img{
            margin-left: 14px;
            width: 230px !important;
            height: 150px;
            margin-top: 15px;
            position: absolute;
        }

        .one{
            margin-left: 40px;
        }
    }
}
@media only screen and (min-width:768px) and (max-width:992px){
    .discoverCourse{
      padding-left: 15px;
        img{
            width: 190px !important;
            position: absolute;
            height: 220px !important;
            margin-top: 3px;

        }
        .one{
            margin-left: 80px;
            margin-top: -20px;

            h5{
                font-size: 18px;
            }
            p{
                font-size: 15px;
            }
        }
    }
}


@media only screen and (min-width:875px) and (max-width:992px){
     .discoverCourse{

        img{
            height: 187px !important;
            width: 210px !important;
        }
        .one{
            margin-left: 90px;
        }
     }

}