* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 600px;
  margin: 20px auto;
  > .heading {
    width: 100%;
    display: flex;
    transition: 0.3s;
    > div {
      width: 100%;
      text-align: center;
      font: normal small-caps bolder 20px auto arial;
      padding: 10px;
      border: 1px solid #ccc;
      cursor: pointer;
      &:not(:last-child) {
        border-right-width: 0;
      }
      &:hover {
        background: darkgray;
      }
    }
  }
  > .details {
    width: 100%;
    position: relative;
    transition: 0.3s;
    > div {
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px;
      border: 1px solid #ccc;
      border-top-width: 0;
      background: darkgray;
    }
  }
}

.d-none {
  opacity: 0;
  transition: 0.3s;
}

.active {
  border-bottom-width: 0 !important;
  background: darkgray;
  transition: 0.3s;
}
