.carousel-indicators [data-bs-target] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

$bgDarkTrans: rgba(0, 0, 0, 0.6);

.mynav {
  background: $bgDarkTrans;
}

.carousel-caption {
  background: $bgDarkTrans;
}

.cimg {
  height: 100%;
  object-fit: cover;
}
